{
  "openapi": "3.0.1",
  "info": {
    "title": "PrevisionImmediatePrecipitations",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.meteofrance.fr/pro/piaf/1.0"
    },
    {
      "url": "http://api.meteofrance.fr:8280/pro/piaf/1.0"
    }
  ],
  "security": [
    {
      "default": []
    }
  ],
  "tags": [
    {
      "name": "PIAF",
      "description": "Service de visualisation (WMS) et de téléchargement (WCS) des données de prévision immédiate de lame d’eau . Résolution 0.01 degré sur la France. Échéances 5  et 180 minutes, toutes les 5 minutes\n\nView service (WMS) and download (WCS) of nowcasting rainrate data from the French limited area numerical weather prediction model. Resolution 0.01 degree on France. Steps 5 to 180 minutes, every 5 minutes.\n"
    }
  ],
  "paths": {
    "/wms/MF-NWP-HIGHRES-PIAF-001-FRANCE-WMS/GetCapabilities": {
      "get": {
        "tags": [
          "PIAF"
        ],
        "description": "Le GetCapabilities retourne les métadonnées du service (couches proposées, projections associées, auteur…)\n\nThe GetCapabilities returns the metadata of the service (proposed layers, associated projections, author, etc.)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wms/MF-NWP-HIGHRES-PIAF-001-FRANCE-WMS/GetMap": {
      "get": {
        "tags": [
          "PIAF"
        ],
        "description": "GetMap permet d'obtenir une carte (format d'image) dont les caractéristiques sont définies par le client à l’aide de paramètres standardisés\n\nGetMap return a map (image format) whose characteristics are defined by the customer using standardized parameters",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "Quantité totale de précipitations/Total precipitation",
                "value": "TOTAL_PRECIPITATION_RATE__GROUND_OR_WATER_SURFACE"
              }
            }
          },
          {
            "name": "crs",
            "in": "query",
            "description": "CRS. The only accepted value is EPSG:4326",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:4326"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/png"
              ]
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "bbox",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "37.5,-12,55.4,16",
                "value": "37.5,-12,55.4,16"
              }
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "height",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "width",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "transparent",
            "in": "query",
            "description": "transparent true or false",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "true",
                "value": "true"
              },
              "2": {
                "summary": "false",
                "value": "false"
              }
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dim_reference_time",
            "in": "query",
            "description": "dim_reference_time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available dim_reference_time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elevation",
            "in": "query",
            "description": "elevation (see the result of the GetCapabilities for available elevation)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "styles",
            "in": "query",
            "description": "styles (see the result of the GetCapabilities for available styles)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-PIAF-001-FRANCE-WCS/GetCapabilities": {
      "get": {
        "tags": [
          "PIAF"
        ],
        "description": "GetCapabilities retourne la liste des opérations supportées par le service, et la liste des champs (coverages) disponibles\n\nGetCapabilities returns the list of operations supported by the service, and the list of available fields (coverages)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-PIAF-001-FRANCE-WCS/DescribeCoverage": {
      "get": {
        "tags": [
          "PIAF"
        ],
        "description": "DescribeCoverage décrit la structure du coverage (extension spatiale, extension temporelle, géométrie de la grille, type des données et unité des valeurs sur la grille)\n\nDescribeCoverage describes the coverage structure (spatial extension, temporal extension, grid geometry, data type and unit of values ​​on the grid)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "coverageID",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-PIAF-001-FRANCE-WCS/GetCoverage": {
      "get": {
        "tags": [
          "PIAF"
        ],
        "description": "GetCoverage renvoie le coverage\n\n\nGetCoverage return the coverage",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "coverageid",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subset",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/tiff",
                "application/wmo-grib"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/tiff": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/wmo-grib": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    }
  },
  "components": {
    "responses": {
      "InvalidToken": {
        "description": "Invalid token"
      },
      "Forbidden": {
        "description": "Forbidden"
      },
      "InternalServer": {
        "description": "Internal Server Error"
      },
      "Badrequest": {
        "description": "Bad request"
      },
      "OK": {
        "description": "OK"
      },
      "ThrottlingLimit": {
        "description": "Throttling limit"
      },
      "Unavailable": {
        "description": "Service Unavailable"
      },
      "Timeout": {
        "description": "Backend Timeout"
      }
    },
    "securitySchemes": {
      "default": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://api.meteofrance.fr/authorize",
            "scopes": {}
          }
        }
      }
    }
  }
}